<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <package android:name="com.google.android.apps.tachyon" />
        <package android:name="com.microsoft.teams" />
        <package android:name="com.microsoft.teams2" />
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:name=".SmartReminderApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.VoiceReminderApp">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver
            android:name=".core.alarm.NextDaySummaryReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.alarm.ReminderReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.routine.RoutineAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.routine.RoutineActionReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.nutrition.NutritionAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.nutrition.NutritionActionReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.recovery.RecoveryAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.recovery.RecoveryActionReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.routine.RoutineRescheduleReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.loan.alarm.LoanReminderReceiver"
            android:exported="false" />
        <activity
            android:name=".presentation.nutrition.NutritionStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.nutrition.NutritionPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.nutrition.NutritionTemplatePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.nutrition.NutritionTemplatesActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.nutrition.NutritionShoppingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.nutrition.NutritionHydrationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.nutrition.NutritionPlanningActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.nutrition.NutritionMealEditorActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.nutrition.NutritionDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.recovery.RecoverySettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Recovery" />
        <activity
            android:name=".presentation.recovery.RecoveryStatisticsActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Recovery" />
        <activity
            android:name=".presentation.recovery.RecoveryContactsActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Recovery" />
        <activity
            android:name=".presentation.recovery.RecoveryToolsActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Recovery" />
        <activity
            android:name=".presentation.recovery.RecoverySupportActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Recovery" />
        <activity
            android:name=".presentation.recovery.RecoveryCheckInActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Recovery" />
        <activity
            android:name=".presentation.recovery.RecoveryGoalEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Recovery" />
        <activity
            android:name=".presentation.recovery.RecoveryDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Recovery" />
        <activity
            android:name=".presentation.routine.RoutineTemplatesActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Routine" />
        <activity
            android:name=".presentation.routine.RoutineProgressActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Routine" />
        <activity
            android:name=".presentation.routine.RoutineSuggestionsActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Routine" />
        <activity
            android:name=".presentation.routine.RoutinePostponeActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:showWhenLocked="true"
            android:theme="@style/Theme.VoiceReminderApp.Routine.Dialog"
            tools:targetApi="o_mr1" />
        <activity
            android:name=".presentation.routine.RoutineSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Routine" />
        <activity
            android:name=".presentation.routine.RoutineEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Routine" />
        <activity
            android:name=".presentation.routine.RoutineDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Routine" />
        <activity
            android:name=".presentation.routine.RoutineDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp.Routine" />
        <activity
            android:name=".presentation.loan.LoanDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp" />
        <activity
            android:name=".presentation.loan.LoanEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp" />
        <activity
            android:name=".presentation.loan.LoanListActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp" />
        <activity
            android:name=".presentation.camera.CameraReminderConfirmationActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp" />
        <activity
            android:name=".presentation.manual.ManualReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp" />
        <activity
            android:name=".presentation.manual.PasteTextReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp" />
        <activity
            android:name=".presentation.calendar.CalendarActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp" />
        <activity
            android:name=".presentation.assistant.AssistantActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp" />
        <activity
            android:name=".presentation.modules.ModuleSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.VoiceReminderApp" />
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.luistureo.voicereminderapp"
                    android:path="/BW1s4fDEKCPSW1ifniiayKcRFFY="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VoiceReminderApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
